<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SeleniumFramework_PageObjectModel">
  <test name="PageObjectModelProject_Jan2022">
    <classes>
      <class name="testcases.LogIN"/>
      <class name="testcases.CreateLead"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
